.btn{
    background-color: hsl(158, 36%, 37%);
    color:  hsl(0, 0%, 100%);
    width: 100%;
}
.btn:hover{
    background-color: hsl(158, 81%, 20%);
    color:  hsl(0, 0%, 100%);
}
body,html{
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card{
    margin: 30px;
}
h2,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h2{
    font-family: 'Fraunces';
    font-weight: 700;
}
h3{
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
h3,del{
    display: inline-block;
    margin: 10px;
}
.button{
    margin: 15px;
}
.perfume,h6,del{
    opacity: 0.5;
    font-size: 14px;
}
#body{
    padding-top: 25px;
 }
 #button,h6,#price{
    padding-top: 10px;
 }
 #icon{
    padding-right: 10px;
 }
 